/*
 * basic 기본 요소들
 */

body {
    font-family: "돋움", dotum, Helvetica, AppleGothic, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0;
    color: #666;
}

img {
    border: 0px;
    font-size: 0px;
    height: auto !important;
    margin: 0px;
    padding: 0px;
}

select {
    /*
    -webkit-appearance: none; 네이티브 외형 감추기
    -moz-appearance: none;
    appearance: none;
    background: url(이미지 경로) no-repeat 95% 50%; 화살표 모양의 이미지
     */
    height: auto;
    line-height: normal; /* line-height 초기화 */
    margin: 0;
    padding: .3em .5em;
    font-family: inherit; /* 폰트 상속 */
    border: 1px solid #666;
}

h2 {
    text-align: left;
    font-family: "맑은고딕", Malgun Gothic, dotum, gulim, sans-serif;
    color: #038e90;
    border-bottom: 3px solid #ccc;
    padding: 26px 0 12px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

table th {
    color: #333;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #dadcdb
}

table, th, td {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 2px;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

textarea:focus {
    /*    outline: 1px solid #038e90;*/
    outline: none;
}


/*
 * common 공통적 구성요소
 */

#HANA_CONTENTS_DIV {
    float: left;
    width: 1060px;
    max-width: 82.8%;
    margin-left: 3.12%;
}

.locate {
    float: right;
    text-align: right;
    color: #5c5e5e;
    margin-top: -50px;
    margin-right: 1px;
    padding-bottom: 15px;
}

.bottomBtns {
    align-content: center !important;
    align-items: center;
    margin: 30px;
}


/*
    member 회원 관련
 */

.login-input {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}


/*
 * board 게시판
 */
.searchBoard {
    margin-top: 40px;
    align: right;
}

.searchField {
    /*
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 3px 0;
    float: right;
}

.searchInput {
    float: right;
}

.board {
    margin-top: 15px;
    border-top: 2px solid #9f9f9f;
    border-bottom: 1px solid #9f9f9f;
}

.tbldiv {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    padding: 0;
}

.mt15 {
    margin-top: 15px !important;
}

.tbl_col01 {
    font-family: "돋움", dotum, Helvetica, AppleGothic, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0;
    color: #666;
    margin: 0;
    border-collapse: collapse;
    width: 100.1%;
    border-bottom: 1px solid #9f9f9f;
    padding: .75rem;
    border-spacing: 2px;
}

.tbl_col01 th, .tbl_col01 td {
    border-left: 1px solid #dadcdb;
    border-top: 1px solid #dadcdb;
    line-height: 20px;
}

.color3 {
    background: #f2f6f7 !important;
}

.paging {
    text-align: center;
    margin-top: 20px;
}

.paging a {
    display: inline-block;
    width: 25px;
    height: 19px;
    padding: 3px 1px 1px 0;
    margin-left: 1px;
    color: #444;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    border: 1px solid #ddd;
    border: 0;
    line-height: 1.4;
    letter-spacing: 0;
}

.paging a.btn {
    border: 0;
    padding: 0;
    margin: 0;
    width: 25px;
}

.paging a.on, .paging a:hover {
    color: #008485;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #008486;
    padding: 3px 1px 1px 0;
    margin-left: 1px;
}


/* article 상세게시물 */

.article-wrap {
    position: relative;
    /*    width: 860px;*/
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
}

.article-contentbox {
    padding: 29px 29px 0;
    border: 1px solid #dadcdb;
    border-radius: 6px;
}

.article-header {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadcdb;
}

.article-title {
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    color: #008486;
}

.bottomBtns {
    float: right;
}

.contentRenderer {
    overflow-y: hidden;
    position: relative;
    min-height: 150px;
    font-size: 12px;
    line-height: 1.6;
    word-wrap: break-word;
}

.regDate {
    float: right;
    font-weight: bold;
}

/* comment 댓글 */
.commentBox .comment-list .comment-area {
    position: relative;
    padding: 12px 23px 10px 0;
    width: 90%;
}

.comment-item {
    padding: 5px;
}

.comment-writer {
    /* float:left;*/
    color: #008485;
    font-weight: bold;
}

.comment-content {
    /*float: left;*/
    padding-top: 3px;
    padding-bottom: 3px;
}

.comment-info {
    color: #979797;
}

.comment-info-button {
    color: #9f9f9f;
    text-decoration: none;
}

.comment-editor {
    width: 99%;
    padding-top: 10px;
    border: 1px solid #9f9f9f;
    margin-bottom: 30px;
}

.comment-inbox-text {
    overflow: hidden;
    overflow-wrap: break-word;
    width: 99%;
    height: 100px;
    /*    border: 1px solid #9f9f9f;*/
    border: none;
}

.comment-submit {
    background-color: #dadcdb;
    border: none;
    text-align: center;
    text-decoration: none;
    /*  display: inline-block; */
    font-size: 15px;
    height: 30px;
    width: 50px;
}


/* writing board editor 게시판 글쓰기 */

.writing-editor {
    width: 80%;
    font-size: 15px;
}

.writing-header {
    margin-bottom: 20px;
}

.writing-category {
    line-height: normal; /* line-height 초기화 */
    width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
    height: auto;
    padding: .3em .5em;
    font-family: inherit; /* 폰트 상속 */
    border: 1px solid #666;
}

.writing-title {
    width: 82%;
    line-height: 30px;
}

.writing-title:focus {
    border: 1px solid #9f9f9f;
}

.writing-field {
    width: 100%;
    min-height: 400px;
    border: 1px solid #9f9f9f;
}

.writing-field:focus {
    border: 1px solid #008486;
}


/* exchange-rate 환율관련 */
#exchange-rate {
    background-color: #c5e1a5;
}

.before {
    width: 250px;
    height: 40px;
    border: 1px solid #f0f0f0;
    text-align: right;
}

.after {
    width: 250px;
    height: 40px;
    font-size: 2em;
    background-color: #f0f0f0;
    border: none;
    text-align: right;
}

.krw {
    display: inline-block;
    width: 300px;
    height: 50px;
}

.flag-kor {
    /*    background: url(/global/images/pc/common/ico_kor.png) no-repeat 0 0;*/
    background-image: url(/WEB-INF/test/img/flags/flag-kor.png) no-repeat;
    display: inline-block;
}

.exchange-current {
    font-size: 1.5em;
}

.rate {
    width: 100px;
    height: 40px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    font-size: 2em;
}


/* languages 언어선택 */
.lang-sw > a > span {
    display: inline-block;
    text-decoration: none;
    color: #008486;
}

.lang_kor a {
    background: url(/img/flags/flag-sq-kor.png) no-repeat 50% 50%;
}